doctype html
html
head
    title Homepage
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
body
    header.header
        h1 Homepage
    article.container
        div.image
            a(href=`/goty`)
                div.logo(style=`background: url('/images/goty.jpg') top center no-repeat; background-size: cover;`)
            section 
                h2 Game Of The Year
                    p.text-font Game of the Year, or GOTY, is an award given annually to a video game that is considered the best of the year.
                    p.text-font The GOTY Award is a way to recognize video games that excel in innovation, gameplay, narrative, or other factors.
        div.image
            a(href=`/top10`)
                div.logo(style=`background: url('/images/companies.jpg') top center no-repeat; background-size: cover;`)
            h2 Top 10 Gaming companies
                p.text-font We present to you the 10 companies that dominate the gaming industry, true gaming gods that cook masterpieces and conquer millions of players.
               
